@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* color: #404D61; */
    outline: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* icon highlighting fix */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}